/** classic-prod **/
.prod-item {
    max-width: 33.3333%;
    padding: 0 12px;
}

.prod-name {
    font-style: italic;
    font-weight: 900;
    color: #AA0601;
    text-align: center;
}

.prod-item {
    font-family: 'roboto';
}

@media (max-width:992px) {
    .classic-prod .row {
        flex-direction: column;
        align-items: center;
    }

    .prod-item {
        max-width: 100%;
    }

    .prod-item img {
        max-width: 336px;
        margin: 0 auto;
    }
}

@media (max-width:767px) {
    .classic-prod .row {
        margin: 0 14px;
    }

    .option-tt {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 0;
    }

    .prod-item {
        padding: 0 12px;
    }
}

/** classic-prod END **/