/** contact **/
.contact .from {
    max-width: 636px;
    margin: 0 auto;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #000000;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group {
    margin-bottom: 16px;
}

.notice {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.btn-submit {
    width: 80%;
    color: #fff;
    border: none;
    padding: 16px;
    ;
    background-color: #AA0601;
}

.checkbox {
    height: 20px;
    width: 20px;
}

@media (max-width:767px) {
    .contact .from {
        margin-left: 14px;
        margin-right: 14px;
    }

    .notice {
        font-size: 16px;
        line-height: 24px;
    }

    .btn-submit {
        width: 100%;
    }
}

/** contact END **/